<div class="container">

  <div class="jumbotron">
  <h1 class="text-center">SMART QUOTES</h1>
</div>
  <!-- <div class= "row"> -->
  <p>Create a new quote:</p>
   <div class="row">
     <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>

      <div class="form-group">
        <label for="quote">Quote </label>
        <textarea class= "form-control" id="quote" row="4" [(ngModel)]="newQuote.quote" name="quote" #quote="ngModel" required></textarea>
        <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
          <p>Come on man!! Obviously a quote is required</p>
        </div>

      </div>

      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" class="form-control" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required>
        <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
          <p> Author is required</p>

       <!-- Display {{newQuote.author}} -->
      </div>
    </div>

      <div class="form-group">
        <label for="you">You</label>
        <input type="text" id="you" class="form-control" [(ngModel)]="newQuote.post" name="you" #you="ngModel" required>
        <div [hidden]="you.valid || you.pristine" class="alert alert-danger">
          <p> Your name is required</p>
      </div>
       <!-- Display {{newQuote.you}} -->
      </div>

      <button type="submit" class="btn btn-success btn-lg">Submit</button>

  </form>
  <!-- </div> -->
</div>
